@import 'variables', 'animation';

@mixin boardGrid($size) {
  display: inherit;
  /*grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);*/
  grid-template: repeat(8, $size) / repeat(8, $size);
  justify-content: center;
  padding-top: 15px;
  overflow: hidden;
  width: ($size * 8) + 25px;
  height: ($size * 8) + 28px;


  .box {
    display: inherit;
    justify-content: center;
    align-items: center;
    @include boxAnimation;
    height: $size;
    width: $size;
  }

  img {
    height: $size * 0.75; 
  }
}

@mixin boardLightColors($color) {
  :nth-child(-2n+8), 
  :nth-child(8) ~ :nth-child(-2n+15), 
  :nth-child(16) ~ :nth-child(-2n+24),
  :nth-child(24) ~ :nth-child(-2n+31),
  :nth-child(32) ~ :nth-child(-2n+40),
  :nth-child(40) ~ :nth-child(-2n+47),
  :nth-child(48) ~ :nth-child(-2n+56),
  :nth-child(56) ~ :nth-child(-2n+63) {
    background-color: $color;
  }
}