@media(max-width: 480px) {
  .row {
    height: 55px;
  }
  .box {
    width: 55px;
    height: 55px;
  }
  #board .row img {
    height: 50px;
  }
}

@media(max-height: 480px) {
  .row {
    height: 55px;
  }
  .box {
    width: 55px;
    height: 55px;
  }
  #board .row img {
    height: 50px;
  }
}

@media(max-width: 425px) {
  .row {
    height: 45px;
  }
  .box {
    width: 45px;
    height: 45px;
  }
  #board .row img {
    height: 40px;
  }
}

@media(max-height: 425px) {
  .row {
    height: 45px;
  }
  .box {
    width: 45px;
    height: 45px;
  }
  #board .row img {
    height: 40px;
  }
}

@media(max-width: 375px) {
  .row {
    height: 40px;
  }
  .box {
    width: 40px;
    height: 40px;
  }
  #board .row img {
    height: 35px;
  }
}

@media(max-height: 375px) {
  .row {
    height: 40px;
  }
  .box {
    width: 40px;
    height: 40px;
  }
  #board .row img {
    height: 35px;
  }
}

@media(max-width: 320px) {
  .row {
    height: 35px;
  }
  .box {
    width: 35px;
    height: 35px;
  }
  #board .row img {
    height: 30px;
  }
}

@media(max-height: 320px) {
  .row {
    height: 35px;
  }
  .box {
    width: 35px;
    height: 35px;
  }
  #board .row img {
    height: 30px;
  }
}

@media(max-width: 280px) {
  .row {
    height: 33px;
  }
  .box {
    width: 33px;
    height: 33px;
  }
  #board .row img {
    height: 30px;
  }
}

@media(max-height: 280px) {
  .row {
    height: 33px;
  }
  .box {
    width: 33px;
    height: 33px;
  }
  #board .row img {
    height: 30px;
  }
}

@media(max-width: 240px) {
  .row {
    height: 28px;
  }
  .box {
    width: 28px;
    height: 28px;
  }
  #board .row img {
    height: 25px;
  }
}

@media(max-height: 240px) {
  .row {
    height: 28px;
  }
  .box {
    width: 28px;
    height: 28px;
  }
  #board .row img {
    height: 25px;
  }
}