// colors and fonts
$bgcolor: #2b2b2b;
$boxdark: transparent;
$boxlight: #bbbbbb;
$fontstyle: Arial, Helvetica, sans-serif;

// animations
$ad: .75s;
$deld: $ad/2;

// resolutions
$hd4k: 2560px;
$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;

$ipadPro: 1366px;
$surfaceDuo: 540px;
$nestHub: 600px;

$surfacePro7: 912px;
$galaxyFold: 280px;
$lumia550: 360px;
$nexus4: 384px;
$nexus5x: 412px;
$nokiaN9: 854px;
$jioPhone2: 240px;


