@import 'resets','variables','media';

body {
	width: 100vw;
	height: 100vh;
  background: $bgcolor;
  overflow: hidden;
  display:grid;
  align-items: center;
  justify-content: center;
}

#board {
  @include mediaQueries();
  @include boardLightColors($boxlight);
}

#blackkill, #whitekill {
  p {
    font-size: 3em;
    letter-spacing: -40px;
  }
}
    
#blackkill,
#whitekill {
	width: 16vh;
	height: 65vh;
}

#blackkill {
	color: black;
}

#winner {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
}

#winner p {
	font-size: 3em;
	color: whitesmoke;
}