@import 'resets','variables', 'boardgrid';

body {
	width: 100vw;
	height: 100vh;
  background: $bgcolor;
  overflow: hidden;
}

#board {
  @include boardGrid(8, 70px);
  @include boardLightColors($boxlight);
}

#blackkill, #whitekill {
  p {
    font-size: 3em;
    letter-spacing: -40px;
  }
}
    
#blackkill,
#whitekill {
	width: 16vh;
	height: 65vh;
}

#blackkill {
	color: black;
}

#winner {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
}

#winner p {
	font-size: 3em;
	color: whitesmoke;
}


@keyframes clockwise {
  15%{
    transform: rotate(0.125turn) scale(0.5,0.5);
  }
  30%{
    transform: rotate(0.25turn) scale(1,1);
  }
  100%{
    transform: rotate(0.25turn) scale(1,1);
  }
}
@keyframes counter-clockwise {
  15%{
    transform: rotate(-0.125turn) scale(0.5,0.5);
  }
  30%{
    transform: rotate(-0.25turn) scale(1,1);
  }
  100%{
    transform: rotate(-0.25turn) scale(1,1);
  }
}
@keyframes c {
  0% { 
     background-color: $boxdark;
  }
  50% { 
     background-color: $boxdark;
  }
  51% { 
     background-color: $boxlight;
  }
  100%{
    background-color: $boxlight;
  }
}